<!DOCTYPE html>
<html lang="en">
<% include part_element/head.ejs %>

<body>

<!-- ==============================================
**Preloader**
=================================================== -->
<div id="loader">
    <div id="element">
        <div class="circ-one"></div>
        <div class="circ-two"></div>
    </div>
</div>

<!-- ==============================================
**Header**
=================================================== -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container"><a id="homeUrl" href="" data-language="llogo" class="navbar-brand"><img
                    src="../../images/logo.png" class="img-fluid" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown5" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><img data-language="setflag" src="../../assets/flags/4x3/us.svg"
                                                  style="height: 17px;"></a>
                    <div class="dropdown-menu" style="min-width: auto; width: auto; padding: 20px 0;">
                        <a class="dropdown-item" id="enFlag" href="" data-callLang="en">
                            <img src="../../assets/flags/4x3/us.svg" style="height: 24px;">
                        </a>
                        <a class="dropdown-item" id="ruFlag" href="" data-callLang="ru">
                            <img src="../../assets/flags/4x3/ru.svg" style="height: 24px;">
                        </a>
                        <script language="javascript" type="text/javascript">
                            var url = window.location.pathname
                            var value = url.substring(url.lastIndexOf('/') + 1);
                            document.getElementById("enFlag").href = url.replace(value, 'en');
                            document.getElementById("ruFlag").href = url.replace(value, 'ru');
                            var urlParams = window.location.pathname.split('/');
                            var lang = urlParams[urlParams.length - 1];
                            document.getElementById("homeUrl").href = "/" + lang;
                        </script>
                    </div>
                </li>
            </ul>
            <div id="login_area" class="col-md-4 text-center text-md-right"></div>
            <!-- <div id="login_area">
                <ul class="navbar-right d-flex">
                    <li><a href="/register">Signup</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</nav>

<!-- ==============================================
**Inner Banner**
=================================================== -->
<section class="inner-banner">
    <div class="container">
        <div class="contents">
            <h1>Checkout</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span>
            </p>
        </div>
    </div>
</section>

<!-- ==============================================
**Cart**
=================================================== -->
<section class="padding-lg">
    <div class="container">
        <!--<div class="error-msg">-->
        <!--<span>i</span>Please enter a valid postcode / Zip-->
        <!--</div>-->
        <div class="row">
            <!-- Start Left -->
            <div class="col-lg-8">
                <div class="cart-table checkout-table table-responsive mb-0">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>PRODUCT</th>
                            <th>TOTAL</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <table class="table product-name">
                                    <tr>
                                        <!--<td>-->
                                            <!--<figure><img src="images/cart-img1.jpg" alt=""></figure>-->
                                        <!--</td>-->
                                        <% if(lang === "en") { %>
                                            <td><p><%= plan.planNameEn %></p></td>
                                        <% } else { %>
                                            <td><p><%= plan.planNameRu %></p></td>
                                        <% } %>
                                    </tr>
                                </table>
                            </td>
                            <td>$<%= plan.price %></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pay-outer">
                    <div class="method-paypal">
                        <div class="radio-outer">
                            <input type="radio" name="radiogroup" id="radio3">
                            <label for="radio3">Visa Card
                                <span class="paypal-img"><img src="images/paypal.png" class="img-fluid" alt="">
                                </span>
                            </label>
                        </div>
                    </div>
                    <hr style="height:1px;border:none;color:#bac1c4;background-color:#bac1c4;"/>
                    <div class="method-paypal">
                        <div class="radio-outer">
                            <input type="radio" name="radiogroup" id="radio2">
                            <label for="radio2">Master Card
                                <span class="paypal-img"><img src="images/paypal.png" class="img-fluid" alt="">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Left -->

            <!-- Start Right -->
            <div class="col-lg-4">
                <div class="checkout-right">
                    <div class="cart-total">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="2">Totals</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Total</th>
                                <td>$<%= plan.price %></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="btn-outer">
                                        <button class="btn revise-btn">Revise Cart</button>
                                        <button class="btn checkout-btn" onclick="processPurchse()">Checkout</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End Right -->
        </div>
    </div>
</section>

<!-- ==============================================
**Signup Section**
=================================================== -->
<section class="signup-outer gradient-bg padding-lg">
</section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
<% include part_element/footer.ejs %>

<!-- Scroll to top -->
<a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>

<script type="text/javascript">
    function processPurchse() {
        // var menuId = $("ul.nav").first().attr("id");
        $.post('/checkout/process',
            {
                planId: '<%= plan._id %>'
            },
            function (data, status) {
                if (data === "Success") {
                    alert("Package Successfully Purchased")
                    window.location = "/userpage/" + '<%= lang %>'
                } else {
                    alert("Something went wrong. Please try again later")

                }
            }
        )
        // var request = $.ajax({
        //
        //     url: "/checkout/process",
        //     type: "POST",
        //     data: { planId : "5c77e909fc25a827541424aa" },
        //     dataType : "json",
        //     contentType: "application/json; charset=utf-8",
        // });
        //
        // request.done(function(msg) {
        //     $("#log").html( msg );
        // });
        //
        // request.fail(function(jqXHR, textStatus) {
        //     alert( "Request failed: " + textStatus );
        // });
    }
</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="../../js/popper.min.js"></script>
<!-- Bootsrap JS -->
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Select2 JS -->
<script src="../../assets/select2/js/select2.min.js"></script>
<!-- Video Popup JS -->
<script src="../../assets/magnific-popup/js/magnific-popup.min.js"></script>
<!-- Waypoints JS -->
<script src="../../assets/waypoints/js/waypoints.min.js"></script>
<!-- Counter Up JS -->
<script src="../../assets/counterup/js/counterup.min.js"></script>
<!-- Custom JS -->
<script src="../../js/custom.js"></script>
<!--Cookie JS-->
<script src="../../js/jquery.cookie.js"></script>
<script src="../../js/main.js"></script>
</body>
</html>
