<!DOCTYPE html>
<html>
<% include part_element/head.ejs %>
<body>

<!-- ==============================================
**Preloader**
=================================================== -->
<div id="loader">
    <div id="element">
        <div class="circ-one"></div>
        <div class="circ-two"></div>
    </div>
</div>

<!-- ==============================================
**Header**
=================================================== -->
<% include part_element/header.ejs %>

<!-- ==============================================
**Banner Gradient**
=================================================== -->
<div class="banner gradient-bg">
    <div class="container">
        <div class="row cnt-block">
            <div class="col-md-7">
                <div class="left">
                    <h1 data-language="lincrease">Increase Revenue and Reduce Costs by 20% in 30 days by Controlling and
                        Accelerating your business</h1>
                    <p data-language="lwith">With our technologically advanced product!</p>
                </div>
            </div>
            <div class="col-md-4 right-sec"><a class="get-started js--scroll-to-price" data-language="lpurchase"
                                               href="#">Purchase Now</a>
                <p data-language="ltheworld" style="font-size: 13px">The world's first decentralised POS system with
                    integrated artificial intelligence.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pop-box clearfix">
                    <figure class="icon"><img src="images/manage-seo-ico.png" alt=""></figure>
                    <div class="right-cnt">
                        <h3 data-language="lmanage">Manage your SEO Accounts</h3>
                        <p></p>
                    </div>
                </div>
                <div class="tab-screen">
                    <figure><img src="images/banner-tab-screen.png" class="img-fluid" alt=""></figure>
                </div>
                <div class="pop-box right clearfix">
                    <figure class="icon"><img src="images/seo-reports-ico.png" alt=""></figure>
                    <div class="right-cnt">
                        <h3 data-language="lgetlive">Get Live Online SEO Report</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ==============================================
**Content Marketing opt1**
=================================================== -->
<section class="content-marketing padding-lg js--section-features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="head-block">
                    <h2 data-language="lourfeat">Our Features</h2>
                    <p data-language="lsubour">MultiPOS System offers a variety of handy and advantageous key features
                        for your business. It is multifunctional - allows to control every aspect of your business. It
                        helps reduce cost without wasting your time to learn the app. And most importantly it Protects
                        your business in every direction.</p>
                </div>
            </div>
        </div>
        <ul class="row marketing-list">
            <li class="col-md">
                <div class="inner">
                    <figure><img src="images/scalable-link-ico.png" class="img-fluid" alt=""></figure>
                    <h3 data-language="lmultifunction">Multifunction</h3>
                    <p data-language="lsubmultifunction">CRM, HRM, ERP, inventory, transactions, orders, payments, time
                        management, human resources.</p>
                </div>
            </li>
            <li class="col-md">
                <div class="inner">
                    <figure><img src="images/seo-success-ico.png" class="img-fluid" alt=""></figure>
                    <h3 data-language="lcostreduction">Cost Reduction</h3>
                    <p data-language="lsubcostreduction">Our system makes predictions of your business performance and
                        allows to increase your ROI by reducing or eliminating unnecessary costs.</p>
                </div>
            </li>
            <li class="col-md">
                <div class="inner">
                    <figure><img src="images/content-marketing-ico.png" class="img-fluid" alt=""></figure>
                    <h3 data-language="lfastintegration">Fast Integration</h3>
                    <p data-language="lsubfast">Intuitive interface allows to use our System straightaway. Gets straight
                        to Business with You.</p>
                </div>
            </li>
            <li class="col-md">
                <div class="inner">
                    <figure><img src="images/Protection.png" class="img-fluid" alt=""></figure>
                    <h3 data-language="lprotect">Protect</h3>
                    <p data-language="lsubprotect">MultiPos secures your financial goals and protects your financial
                        data. With our latest technology for data protection you will feel safe at any Global
                        location.</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ==============================================
**Video**
=================================================== -->
<section class="simple-editor padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 order-lg-2 cnt-block">
                <h2 data-language="lwhenever" style="text-align: center">``Whenever you see a successful business,
                    someone once made a courageous decision``</h2>
                <p style="font-size: 20px; margin-left: 37%;" data-language="lpeterdrucker">Peter Drucker</p>

            </div>
            <div class="col-lg-7 right"><a class="play-btn video"
                                           href="https://www.youtube.com/watch?v=iSVL9mtTSNg"><span
                            class="icon-play-btn"></span></a>
                <figure class="img"><img src="images/banner-tab-screen.png" class="img-fluid" alt=""></figure>
            </div>
        </div>
    </div>
</section>

<!-- ==============================================
**Services**
=================================================== -->
<section class="how-it-work-items client-speak padding-lg js--section-services">
    <div class="container">
        <div class="row justify-content-center" style="margin-bottom: -70px;">
            <div class="col-md-10">
                <div class="head-block">
                    <h2 data-language="lourservices">Our Services</h2>
                    <p data-language="lsubservices" style="font-size: 15px">Admin Terminal – an application for a
                        smartphone (installed on manager's or business owner’s smartphone to be fully engaged with the
                        business processes within the POS terminal and neural Belief Network.)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="content-area">
                    <div class="icon"><span>01</span></div>
                    <div class="text-area">
                        <h2 data-language="lcontrol">CONTROL</h2>
                        <p data-language="lsubcontrol">Total control your business from anywhere.</p>
                    </div>
                </div>
                <div class="content-area">
                    <div class="icon"><span>02</span></div>
                    <div class="text-area">
                        <h2 data-language="lscalability">SCALABILITY</h2>
                        <p data-language="lsubscalability">Scalability of the system that is contingent only on the
                            business size.</p>
                    </div>
                </div>
                <div class="content-area">
                    <div class="icon"><span>03</span></div>
                    <div class="text-area">
                        <h2 data-language="lprotectservices">PROTECT</h2>
                        <p data-language="lsubprotectservices">Data is protected by the safest security system.</p>
                    </div>
                </div>
                <div class="content-area">
                    <div class="icon"><span>04</span></div>
                    <div class="text-area">
                        <h2 data-language="ltasks">TASKS</h2>
                        <p data-language="lsubtasks">Hand out tasks for staff. A new level of personnel management.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure class="right"><img src="images/M1.png" class="img-fluid" alt=""></figure>
            </div>
        </div>
    </div>
</section>

<!-- ==============================================
**Generate Forms**
=================================================== -->
<section class="generate-forms padding-lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 data-language="lscreenshot">Screenshot App</h2>
            </div>
        </div>
    </div>
    <div class="custom-opacity">
        <div id="owl-career" class="owl-carousel">
            <div class="item">
                <figure><img src="images/screen1.jpg" alt=""></figure>
            </div>
            <div class="item">
                <figure><img src="images/screen2.jpg" alt=""></figure>
            </div>
            <div class="item">
                <figure><img src="images/screen3.jpg" alt=""></figure>
            </div>
            <div class="item">
                <figure><img src="images/screen4.jpg" alt=""></figure>
            </div>
            <div class="item">
                <figure><img src="images/screen5.jpg" alt=""></figure>
            </div>
            <div class="item">
                <figure><img src="images/screen6.jpg" alt=""></figure>
            </div>
        </div>
        <div class="keyboard">
            <figure><img src="images/key-board-mouse.png" class="img-fluid" alt=""></figure>
        </div>
        <div class="frame">
            <figure><img src="images/slider-frame.png" class="img-fluid" alt=""></figure>
        </div>
    </div>
</section>

<!-- ==============================================
**Latest Stories**
=================================================== -->
<section class="latest-stories padding-lg js--section-blogs">
    <div class="container">
        <div class="card-deck blog-blocks">
            <div class="card bg-none">
                <div class="card-body">
                    <h4 data-language="lourblog">Our Blog</h4>
                    <h2 data-language="lreadourlatest">Read our latest Stories</h2>
                    <p>An online journal or informational website displaying information in the reverse chronological
                        order, with latest posts appearing first.</p>
                </div>
            </div>
            <div class="card">
                <figure><img src="images/blog-img1.jpg" class="img-fluid" alt=""></figure>
                <div class="card-body">
                    <h3><a id="blogUrl" href="">Lorem Ipsum is simply dummy text of the printin...</a></h3>
                    <span class="date">27 Dec 2017</span>
                    <script language="javascript" type="text/javascript">
                        var url = window.location.pathname
                        var urlParams = window.location.pathname.split('/');
                        var lang = urlParams[urlParams.length - 1];
                        document.getElementById("blogUrl").href = "/blog-standard/1/" + lang;
                    </script>
                </div>
            </div>
            <div class="card">
                <figure><img src="images/blog-img2.jpg" class="img-fluid" alt=""></figure>
                <div class="card-body">
                    <h3><a href="blog-standard/1">Lorem Ipsum is simply dummy text of the printin...</a></h3>
                    <span class="date">25 Nov 2017</span></div>
            </div>
        </div>
    </div>
</section>


<!-- ==============================================
**Client Speak opt1**
=================================================== -->
<section class="client-speak carousel1 padding-lg js--section-team">
    <div class="container">
        <div class="row justify-content-center head-block">
            <div class="col-md-10">
                <h2 data-language="lourteam">Our Dedicated Team</h2>
                <p class="hidden-xs" data-language="lsubourteam" style="font-size: 15px;">Meet Multipos team. These
                    people have seriously contributed their time, energy and effort to bring Multipos System online.</p>
            </div>
        </div>
        <ul class="speak-listing opt1 owl-carousel">
            <li>
                <div class="inner">
                    <figure><img src="./images/backend.jpg" class="img-fluid rounded-circle" alt=""></figure>
                    <span class="icon-quote"></span>
                    <div class="client-detail">
                        <h4>Ikrom Mirzaev</h4>
                        <span class="designation">Backend & Web Developer</span></div>
                    <p data-language="likromwords">If not perfect, then nothing. Complex tasks are like water, do not
                        live more than three days.</p>
                </div>
              </div>
            </div>
            <div class="cnt-block">
              <ul>
                <li>1 x MultiPOS <span data-language="lapp">app</span> (POS terminal)</li>
                <li>1 x <span data-language="lstandtablet">Stand for tablet (Installation)</span></li>
                <li>5 x <span data-language="luserlimit"> Users limit</span></li>
                <li>1 x <span data-language="ladminpanel">Admin panel (Web, IOS, Android)</span></li>
                <li data-language="lthirdparty">Third-party integration</li>
                <li data-language="lfreeupdates">Free updates</li>
                <li data-language="lsupport">24/7 Support</li>
              </ul>
              <a href="#" class="btn get-started" data-language="lgetstart" data-toggle="modal" data-target="#payment">Get Started</a> </div>
              <div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Company Information</h5>
                    </div>
                    <div class="modal-body">
                      <div>
                        <form action="#" method="get" class="support-form">
                          <h5 style="margin-top: -45px;">Create company and type ID of Company</h5>
                          <br>
                          <input name="CompanyName" type="text" placeholder="Company Name">
                          <input name="CompanyID" type="text" placeholder="Company ID">
                        </form>
                    </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Go to paymnet</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </li>
        <li class="col-md-3">
          <div class="inner">
            <div class="head-block">
              <div class="plan-title"> <span data-language="lpluspack">Plus package</span>
              </div>
              <div class="price">
                <div class="graph"><span class="org"></span><span></span><span></span></div>
                <div class="right">
                  <div class="amt">45<sup>$</sup></div>
                  <div class="month">Per Month</div>
            </li>
            <li>
                <div class="inner">
                    <figure><img src="./images/frontend.jpg" class="img-fluid rounded-circle" alt=""></figure>
                    <span class="icon-quote"></span>
                    <div class="client-detail">
                        <h4>Nodir Sulaymonov</h4>
                        <span class="designation">Front End Developer</span></div>
                    <p data-language="lnodirwords">Nothing is impossible, everything is in our hands. And only - the
                        concept of the impossible -makes our life more interesting.</p>
                </div>
            </li>
            <li>
                <div class="inner">
                    <figure><img src="images/Android.jpg" class="img-fluid rounded-circle" alt=""></figure>
                    <span class="icon-quote"></span>
                    <div class="client-detail">
                        <h4>Jama Mr</h4>
                        <span class="designation">Android Developer</span></div>
                    <p data-language="ljamawords">Everything was invented before us, all this must be studied by heart.
                        Ideality lies in simplicity.</p>
                </div>
            </li>
            <li>
                <div class="inner">
                    <figure><img src="images/Seo.jpg" class="img-fluid rounded-circle" alt=""></figure>
                    <span class="icon-quote"></span>
                    <div class="client-detail">
                        <h4>Vosit Yunusov</h4>
                        <span class="designation">CEO Basic Steps Development </span></div>
                    <p data-language="lceowords">The main purpose is to make advanced technology to be available for
                        everyone by integrating it in our products.</p>
                </div>
            </li>
        </ul>
    </div>
</section>


<!-- ==============================================
  **Price**
  =================================================== -->
<section class="choose-pack padding-lg js--section-price">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 data-language="lhowmuchdoes">How much does it cost?</h2>
                <p data-language="lourprices">Our prices are available for any business.</p>
            </div>
        </div>
        <ul class="row">
            <% data.plans.forEach(function(item){ %>
                <li class="col-md-3 active">
                    <div class="inner">
                        <div class="head-block">
                            <% if(data.lang == "ru") { %>
                                <div class="plan-title"><span data-language="lstarter"><%= item.planNameRu %></span>
                                </div>
                            <% } else { %>
                                <div class="plan-title"><span data-language="lstarter"><%= item.planNameEn %></span>
                                </div>
                            <% } %>
                            <div class="price">
                                <div class="graph"><span></span><span></span><span></span></div>
                                <div class="right">
                                    <div class="amt"><%= item.price %><sup>$</sup></div>
                                    <div class="month">Per Month</div>
                                </div>
                            </div>
                        </div>
                        <div class="cnt-block">
                            <ul>
                                <li>1 x MultiPOS <span data-language="lapp">app</span> (POS terminal)</li>
                                <li><%= item.cashierLimit %> x <span data-language="luserlimit"> Cashier limit</span>
                                </li>
                                <li><%= item.adminLimit %> x <span data-language="ladminpanel">Admin limit (Web, IOS, Android)</span>
                                </li>
                                <li data-language="lthirdparty">Third-party integration</li>
                                <li data-language="lfreeupdates">Free updates</li>
                                <li data-language="lsupport">24/7 Support</li>
                            </ul>
                            <a href="../checkout/<%= item._id+"/"+ data.lang %>" class="btn get-started" data-language="lgetstart">Get
                                Started</a>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
</section>

<!-- ==============================================
  **FAQ**
  =================================================== -->
<section class="faq-outer client-speak grey-bg padding-lg js--section-faq" id="faq-sec">
    <div class="container">
        <div class="row justify-content-center head-block">
            <div class="col-md-10">
                <h2 data-language="lfrequently">Frequently Asked Questions</h2>
                <p class="hidden-xs" data-language="lsubfrequently">Here you can find answers to your questions without
                    contacting the support team. If you
                    haven't found an answe to your question, ask your question in the form below.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 faq-left">
                <ul>
                    <li class="active"><a>
                            <div class="icon"><span class="icon-general"></span></div>
                            <div class="cnt-block">
                                <p data-language="lfaqrow1" style="font-size: 13px;">We will be pleased to answer all of
                                    your questions. If the question is interesting , we will post it with our response
                                    in the FAQ section.</p>
                            </div>
                        </a></li>
                    <li class="active"><a>
                            <div class="icon"><span class="icon-features"></span></div>
                            <div class="cnt-block">
                                <p data-language="lfaqrow2" style="font-size: 13px;">There are no useless questions. The
                                    most useless questions - is the one the hasn't been asked.</p>
                            </div>
                        </a></li>


                </ul>
            </div>
            <div class="col-md-9 faq-right">
                <div id="accordion" role="tablist">

                    <!-- Start:accordion item 01 -->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0"><a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne" data-language="lsubfaq1"> WHAT IS MULTIPOS
                                    SYSTEM?</a></h5>
                        </div>
                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p data-language="lsubfaq2">Conceptually, it is global decentralised and multifunctional
                                    mobile system of interactions between
                                    various parties of business-society. It has been created for conducting and
                                    developing businesses.
                                    This system has an ability to identify, estimate and satisfy the potential demand
                                    from consumers,
                                    and also can create new channels for information exchange and implement predictive
                                    analytics
                                    in these processes.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End:accordion item 01 -->

                    <!-- Start:accordion item 02 -->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0"><a class="collapsed" data-toggle="collapse" href="#collapseTwo"
                                                aria-expanded="false" data-language="lsubfaq3"
                                                aria-controls="collapseTwo"> WHAT IS BELIEF NETWORK? </a></h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p data-language="lsubfaq4">Belief Network - is decentralised neural network (AI) which
                                    interacts with Multipos system for
                                    data analysis and forecasting, thereby fulfilling the role of an independent
                                    analyst.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End:accordion item 02 -->

                    <!-- Start:accordion item 03 -->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0"><a class="collapsed" data-toggle="collapse" href="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree"
                                                data-language="lsubfaq5"> WHAT IS VACOIN?</a></h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p data-language="lsubfaq6">VACOIN - is decentralised cryptocurrency which would be used
                                    to make payments between users of
                                    Multipos System for convenience and control of financial transactions.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End:accordion item 03 -->

                    <!-- Start:accordion item 04 -->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <h5 class="mb-0"><a class="collapsed" data-toggle="collapse" href="#collapseFour"
                                                aria-expanded="false" aria-controls="collapseFour"
                                                data-language="lsubfaq7"> WHO ARE YOU AND WHERE ARE YOU?</a></h5>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p data-language="lsubfaq8">Our company Basic Steps Development Ltd. : Suite 6, 5 Percy
                                    Street, W1T 1DG, London, United Kingdom is
                                    developing software and innovative technological solutions for businesses. Our
                                    offices located in various
                                    countries (Europe, India and Middle Asia).</p>
                            </div>
                        </div>
                    </div>
                    <!-- End:accordion item 04 -->

                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==============================================
**Contact**
=================================================== -->
<section class="contact-wrapper-outer js--section-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 form-area">
                <div class="contact-form-wrapper padding-lg">
                    <form name="contact-form" action="/support" method="POST">
                        <div class="row">
                            <div class="col-md-6 input-col">
                                <label>Your Name</label>
                                <input name="name" placeholder="" type="text">
                            </div>
                            <div class="col-md-6 input-col">
                                <label>Email Address</label>
                                <input name="email" placeholder="" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 input-col">
                                <label>Phone</label>
                                <input name="phone" placeholder="" type="text">
                            </div>
                            <div class="col-md-6 input-col">
                                <label>Company</label>
                                <input name="company" placeholder="" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Message</label>
                                <textarea name="message" placeholder=""></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn submit">Submit</button>
                            </div>
                            <div class="col-md-12">
                                <div class="msg"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-info-wrapper padding-lg">
                    <div class="contact-info">
                        <h3 data-language="lcontacinfo">Contact Info</h3>
                        <ul class="info-contact-box">
                            <li>
                                <h6 data-language="lcontactadres">Address</h6>
                                <p>Address Suite 6, 5 Percy Street W1T 1DG London, UK</p>
                            </li>
                            <li>
                                <h6>+44 (0) 749-040-35-35</h6>
                            </li>
                            <li><a href="mailto:mail@multipos.io">mail@multipos.io</a></li>
                        </ul>
                    </div>
                    <div class="social-media-box">
                        <h6><span data-language="lconnectwith">Connect with</span></h6>
                        <ul>
                            <li><a href="https://www.facebook.com/multipossystem"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://twitter.com/LtdBasic?lang=en"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/u/0/103005406419764022286"><i
                                            class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCV40QtoSeYS_dWHmuphpBVw"><i
                                            class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==============================================
**Contact Map**
=================================================== -->
<section class="contact-map">
    <div class="msg-box"><p><i class="fa fa-mouse-pointer" aria-hidden="true"></i> click and scroll to zoom the map</p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.734677725205!2d-0.1359444845149094!3d51.51808347963687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b2c67a5eee9%3A0xe755636b995af07d!2s6%2C+5+Percy+St%2C+Fitzrovia%2C+London+W1T+1DG%2C+UK!5e0!3m2!1sen!2sus!4v1527944329678"
            style="border:none;"></iframe>
</section>
<!-- ==============================================
**Footer opt1**
=================================================== -->
<% include part_element/footer.ejs %>

<!-- Scroll to top -->
<a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript">
    $(document).ready(function () {

        $('.js--scroll-to-features').click(function () {
            $('html, body').animate({scrollTop: $('.js--section-features').offset().top}, 1000);
        })
        $('.js--scroll-to-services').click(function () {
            $('html, body').animate({scrollTop: $('.js--section-services').offset().top}, 1000);
        })

        $('.js--scroll-to-blogs').click(function () {
            $('html, body').animate({scrollTop: $('.js--section-blogs').offset().top}, 1000);
        })
        $('.js--scroll-to-team').click(function () {
            $('html, body').animate({scrollTop: $('.js--section-team').offset().top}, 1000);
        })
        $('.js--scroll-to-price').click(function () {
            $('html, body').animate({scrollTop: $('.js--section-price').offset().top}, 1000);
        })
        $('.js--scroll-to-faq').click(function () {
            $('html, body').animate({scrollTop: $('.js--section-faq').offset().top}, 1000);
        })
        $('.js--scroll-to-contact').click(function () {
            $('html, body').animate({scrollTop: $('.js--section-contact').offset().top}, 1000);
        })
    });
</script>
<script src="/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="/js/popper.min.js"></script>
<!-- Bootsrap JS -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Select2 JS -->
<script src="/assets/select2/js/select2.min.js"></script>
<!-- Bxslider JS -->
<script src="/assets/bxslider/js/bxslider.min.js"></script>
<!-- Owl Carousal JS -->
<script src="/assets/owl-carousel/js/owl.carousel.min.js"></script>
<script src="js/index.js"></script>
<!-- Video Popup JS -->
<script src="/assets/magnific-popup/js/magnific-popup.min.js"></script>
<!-- Custom JS -->
<script src="/js/custom.js"></script>
<!-- Bootsrap JS -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Custom JS -->
<script src="js/custom.js"></script>
<script src="js/jquery.cookie.js"></script>


  </body>
</html>
